<div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
  <div class="icon-container default-bg">
    <i class="fa fa-exchange"></i>
  </div>
  <div class="body">
    <h2>Integrate</h2>
    <p>Using e-mail for vital communications between HR, IT and Production is prone to human error and
      can't be tracked or monitored easily. Integrate your departmental communications and avoid mis-communication.</p>
    <!-- <a data-toggle="modal" data-target="#integrate" class="link"><span>Read More</span></a> -->
    <!-- Modal -->
    <div class="modal fade" id="integrate" tabindex="-1" role="dialog" aria-labelledby="integrate-label" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title" id="integrate-modal">Systems Integration</h4>
	  </div>
	  <div class="modal-body">
	    <div class="row">
	      <div class="col-md-4">
		<i class="fa fa-exchange fa-5x"></i>
	      </div>
	      <div class="col-md-8">
                {{getContent 'services' 'integrate'}}
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
      </div>
    </div>
    <!-- Modal end -->
  </div>
</div>
