<div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
  <div class="icon-container default-bg">
    <i class="fa fa-cogs"></i>
  </div>
  <div class="body">
    <h2>Automate</h2>
    <p>Even with an off-the-shelf production tracker, APMs and co-ordinators can spend half their time
      just manually tracking and entering data. Automate your workflow and save valuable time.</p>
    <!-- <a data-toggle="modal" data-target="#automate" class="link"><span>Read More</span></a> -->
    <!-- Modal -->
    <div class="modal fade" id="automate" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title" id="integrate-modal">Tracking Automation</h4>
	  </div>
	  <div class="modal-body">
	    <div class="row">
	      <div class="col-md-4">
		<i class="fa fa-cogs fa-5x"></i>
	      </div>
	      <div class="col-md-8">
                {{getContent 'services' 'automate'}}
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
      </div>
    </div>
    <!-- Modal end -->
  </div>
</div>
