<div class="box-style-2 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
  <div class="icon-container default-bg">
    <i class="fa fa-line-chart"></i>
  </div>
  <div class="body">
    <h2>Discover</h2>
    <p>Off-the-shelf production trackers are great for APMs to monitor assets and shots through the pipe, but producers
      need high-level overview and reporting. Discover new insights into your production data and be confident in your reporting.</p>
    <!-- <a data-toggle="modal" data-target="#track" class="link"><span>Read More</span></a> -->
    <!-- Modal -->
    <div class="modal fade" id="track" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <h4 class="modal-title" id="integrate-modal">Insightful Reporting</h4>				
	  </div>
	  <div class="modal-body">
	    <div class="row">
	      <div class="col-md-4">
		<i class="fa fa-line-chart fa-5x"></i>
	      </div>
	      <div class="col-md-8">
		Content goes here.
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
      </div>
    </div>
    <!-- Modal end -->
  </div>
</div>
